[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
matplotlib = "*"
ipykernel = "*"
seaborn = "*"
scikit-learn = "==0.24.2"
imblearn = "*"
scikit-plot = "*"
ipywidgets = "*"

[dev-packages]
ipykernel = "*"
notebook = "*"

[requires]
python_version = "3.11"
